# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: Ints or floats, same as other programming languages

Strings: Can be letters, numbers

Lists: Arrays basically

Tuples: Same as arrays, but immutable and with less methods

Dictionaries: Basically objects

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [2]:
(10 * 10 / 5) ** 2 + 0.25 - 300

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

In [ ]:
2/3 #this will be equal to 0, as py2 doesn't do a real division

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [5]:
4+6*5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?  Float

Markdown and LaTeX: a**2

What would you use to find a numberâ€™s square root, as well as its square?

In [6]:
25**0.5

5.0

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [7]:
s = 'hello'
# Print out 'e' using indexing

# Code here
s[1]

'e'

Reverse the string 'hello' using indexing:

In [8]:
s ='hello'

# Reverse the string using indexing

# Code here
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [13]:
s ='hello'

# Print out the

# Code here
s[4]
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [15]:
s = [0,0,0]

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [17]:
l = [1,2,[3,4,'hello']]
l[2][2] = 'goodbye'
l[2][2]

'goodbye'

Sort the list below:

In [19]:
l = [3,4,5,5,6]
l.sort()
l

[3, 4, 5, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [20]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [21]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [22]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [23]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?  A dictionary hasn't got an order

## Tuples

What is the major difference between tuples and lists?  Tuples are immutable, lists aren't

How do you create a tuple? t()

## Sets

What is unique about a set?  Sets don't have duplicate elements

Use a set to find the unique values of the list below:

In [24]:
l = [1,2,2,33,4,4,11,22,3,3,2]
set(l)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [25]:
# Answer before running cell
2 > 3  #False

False

In [26]:
# Answer before running cell
3 <= 2   #False

False

In [27]:
# Answer before running cell
3 == 2.0  #False

False

In [28]:
# Answer before running cell
3.0 == 3  #True

True

In [29]:
# Answer before running cell
4**0.5 != 2  #False

False

Final Question: What is the boolean output of the cell block below?

In [30]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']  #False

False

## Great Job on your first assessment!